extends layouts/edit_layout.pug
block content
    div.container
        h2.addPhone Edit Contact 
        form(action=`/edit/${details.id}` method="POST")
            
            div(class="form-group")
                label(for="name") Name
                input(type="text" name="name" value= details.full_name class="form-control form-control-lg")

            div(class="form-group")
                label(for="phone") Phone number
                input(type="number", name="phone" value = details.phone class="form-control form-control-lg")

            div(class="form-group")
                label(for="email") Email
                input(type="text" name="email" value = details.email class="form-control form-control-lg") 
            div(class="form-group")
                button(type="submit" class="btn btn-primary") Save
